{% extends "base/base_list.html" %}
{% load i18n %}
{% load ext_query_string %}
{% load media %}
{% load theme %}
{% load context_path %}
{% load title_field_html %}
{% block title %}工作记录列表{% endblock %}
{% block listHead %}

{% endblock %}  

{% block listBody %}
{% include "work_note/lib/left.html" %}
<form name="deleteForm" action="" method="POST">
<input type="hidden" name="__http_method" value="DELETE"/>
<input type="hidden" name="ext_query_str" value="{% ext_query_raw_string %}"/>
</form>
<table class="main" summary="List Table">
	<caption>工作记录列表</caption>
	<thead>
	<tr>
		<th width="30">序号</th>
		<th>{% title_field_html "summary" "Summary" %}</th>
		<th width="120">{% title_field_html "start" "Start Time" - %}</th>
		<th width="120">{% title_field_html "finish" "Finish Time" %}</th>
		<th width="100">{% title_field_html "total_work_time" "Total Time" %}</th>
		<th width="100">操作</th>
	</tr>
	</thead>
{% if results_per_page %}
	<tfoot>
	<tr>
		<th colspan="6">{% include "lib/paginator.html" %}</th>
	</tr>
	</tfoot>
{% endif %}
	<tbody>
{% for object in object_list %}
		<tr title="双击此行查看详细内容"
			ondblclick="Javascript:self.location.href='{% context_path %}/work_note/{{ object.key }}{% ext_query_string ? %}'">
			<td>
			{% if results_per_page %}
			{{ first_on_page|add:forloop.counter0 }}
			{% else %}
			{{ forloop.counter }}
			{% endif %}
			</td>
			<td class="left"><a href="{% context_path %}/work_note/{{ object.key }}{% ext_query_string ? %}" title="查看">{{ object.summary }}</a></td>
			<td>{{ object.start }}</td>
			<td>
			{%if object.finish %}
				{{ object.finish }}
			{% endif %}
			</td>
			<td class="right">
			{%if object.finish %}
				{{ object.get_period_delta_str }}
			{% endif %}
			</td>
			<td>
			<a href="{% context_path %}/work_note/{{ object.key }}{% ext_query_string ? %}" title="查看"><img src="{% media_url %}/themes/{% theme %}/button/view.gif" alt="查看"></a>
			<a href="{% context_path %}/work_note/!edit?id={{ object.key }}{% ext_query_string &amp; %}" title="编辑"><img src="{% media_url %}/themes/{% theme %}/button/edit.gif" alt="编辑"></a>
			<a href="Javascript:bupticetCommon.deleteConfirmUseForm('{% context_path %}/work_note/{{ object.key }}')" title="删除"><img src="{% media_url %}/themes/{% theme %}/button/delete.gif" alt="删除"></a>
			</td>
		</tr>
{% endfor %}
{% if results_per_page %}
{% load repeat %}{% repeat results_per_page object_list|length %}<tr>
	<td colspan="6">&nbsp;</td>
</tr>
{% endrepeat %}
{% endif %}
	</tbody>
</table>
{% include "work_note/lib/right.html" %}
{% endblock %}